<nav class="container relative bg-dark-grey white flex justify-between items-center px2 lg-px4">
  <div class="">
    <a class="white text-decoration-none medium h2 bold" href="/"><span>Krithik Rao</span></a>
  </div>
  <div class="">
    <ul class="list-reset white">
      <li class="inline-block px1"><a class="color-inherit text-decoration-none regular" href="/">writings</a></li>
      <li class="inline-block px1"><a class="color-inherit text-decoration-none regular" href="/videos">videos</a></li>
      <li class="inline-block px1"><a class="color-inherit text-decoration-none regular" href="/projects">projects</a></li>
      <li class="inline-block px1"><a class="color-inherit text-decoration-none regular" href="/contact">contact</a></li>
    </ul>
  </div>

</nav>
