<div class="py2 md-px4 container flex flex-wrap justify-center">
  <div class="text-left bold h2 mx1 my1">
    contact me
  </div>
  <div>
    <ul class="list-reset mx1 pl2 border-left">
      <li class="my1"><i class="fa fa-envelope" aria-hidden="true"></i><span class="mx2 black text-decoration-none" href="#">krdevmail at gmail dot com</span></li>
      <li class="my1"><i class="fa fa-linkedin" aria-hidden="true"></i><a href="https://linkedin.com/in/krithikr" class="mx2 black text-decoration-none hover-ul">linkedin.com/in/krithikr</a></li>
      <li class="my1"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/KritR" class="mx2 text-decoration-none black hover-ul">github.com/KritR</a></li>
      <li class="my1"><i class="fa fa-youtube" aria-hidden="true"></i><a href="https://youtube.com/c/KrithikRao" class="mx2 text-decoration-none black hover-ul">youtube.com/c/KrithikRao</a></li>
      <li class="my1"><i class="fa fa-instagram" aria-hidden="true"></i><a href="https://instagram.com/krithiknrao" class="mx2 text-decoration-none black hover-ul">instagram.com/krithiknrao</a></li>
      <li class="my1"><i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/KrithikRao" class="mx2 text-decoration-none black hover-ul">twitter.com/KrithikRao</a></li>
  </div>
</div>
