---
title: Krithik Rao
---

<div class="container mx-auto">
  <div class="col col-12 md-col-4 md-py2 md-px3">
    <%= image_tag 'dumpling.jpeg' %>
  </div>

  <div class="col col-12 md-col-8">
    <div class="col col-12 my2">
      <div class="h4 bold italic col col-12 md-col-2">
        Who I Am
      </div>
      <div class="col col-12 md-col-10">
        <p class="my0 h4 md-mx1">
          I'm Krithik Rao . Avid vim user, ramen lover, and constant questioner. If you find something here interesting or want to say hello, please reach out.
        </p>
      </div>
    </div>
    <div class="col col-12 my2">
      <div class="h4 bold italic col col-12 md-col-2">
        What I Do
      </div>
      <div class="col col-12 md-col-10">
        <p class="my0 h4 md-mx1">
          I just graduated as a student at Purdue University studying Computer Science. I'm now a software engineer on the Windows Kernel team at Microsoft.
          <br> <br>
          On the side I also biking, climbing, pottery, reading, listening to music, making random pieces of software, and thinking up random ethical questions.
        </p>
      </div>
    </div>
    <div class="col col-12 my2">
      <div class="h4 bold italic col col-12 md-col-2">
        Recent Work
      </div>
      <div class="col col-12 md-col-10">
        <p class="my0 h4 md-mx1">
        This website was my latest creation. But we don't need to worry about that.
        <br> <br>
        DataSphere is a global news and information visualizer that we worked on during the boilermake hackathon.<br> (datasphere.space)
        <br> <br>
        Book of Knowledge is a compilation of the notes I've accumulated and will continue to accumulate over the years.<br>(kritr.github.io/book-of-knowledge)
        <br> <br>
        You can find more of my work on my projects page.
        </p>
      </div>
    </div>
  </div>
</div>
